.accept { 
    color: white !important;
    background-color: black !important;
  }

  /* Section for Home */ 
#introletter { 
    transform: rotate(-3deg);
  }
  

.buttonhold { 
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
    font-weight: bolder;
  }
  