.killer { 
    text-align: center;
    font-family: 'Playfair display', serif;
    
}
.killer label{ 
    color: black;
    display: block;
    font-size: 40px;
}
.killer p { 
    color: black;
    font-size: 20px;
}

.killer select { 
    height: 40px;
    text-align: center;
    width: 100px;
    border-style: none;
}

.killer button { 
    background-color: white;
    color: rgb(85, 7, 7);
    height: 50px;
    font-size: 20px;
    width: 100px;
}

.killer h3 { 
    text-align: center !important;
}