
.enterB {
    position: fixed;
    top: 50%;
    left: 50%;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 22px !important;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 200px;
    border-color: white !important;
    color: white !important;
    background-color: rgb(85, 7, 7) !important;
}

.timer { 
    color:  rgba(160, 13, 13, 0.918);
    text-align: center;
    
    /* background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(160, 13, 13, 0.918);
    */
}

.introb { 
    margin-top: 18%;
    text-align: center;
    font-family: 'Bad Script', cursive;
}
.introb h1 { 
    color: white;
}

.introb button { 
    margin: 2%;
    font-style: italic;
    font-size: 22px !important;
    font-family: 'Playfair Display', serif;
    height: 100px;
    width: 200px;
    border-color: white !important;
    color: white !important;
    background-color: rgb(85, 7, 7) !important;
}
.timer h1 { 
    padding-top: 30%;
    font-size: 60px !important;
}